// Variables

@primary: #42DCA3;

@font-big: 8vw;
@font-small: 3vw;
@font-small-media: 2.7vw;

@bg_dark: rgba(39, 39, 39, 1);
@bg_light: rgba(180, 180, 180, 0.5);
@bg_dark_transp-50: rgba(39, 39, 39, 0.5);
@bg_white_t: rgba(242, 242, 242, 0.8);
@bg_white: #f1f1f1;
@bg_white_2: #f8f8f8;
@bg_brown: rgb(56, 42, 24, 1);
@bg_brown_t: rgba(56, 42, 24, 0.7);
@bg_light_brown: #dbcfbe;
@bg_inv_white: rgb(64, 64, 64);
@bg_navbar_transp-top: rgba(39, 39, 39, 0.6);
@bg_navbar_transp-bottom: rgba(39, 39, 39, 0.0);
@bg_transp: rgba(184, 184, 184, 0.3);
@bg_transp-brown: rgba(56, 42, 24, 0.3);
@bg_transp-0: rgba(184, 184, 184, 0);
@bg_transp-50: rgba(184, 184, 184, 0.5);
@bg_transp-80: rgba(184, 184, 184, 0.8);
@bg_transp-100: rgba(184, 184, 184, 1);

@light-gray: #ddd;
@dark-gray: #5a5a5a;
@med-gray: #7a7a7a;

@dgreen: rgb(43, 71, 50);
@lgreen: rgb(62, 112, 74);
@green: rgba(92, 184, 92, 0.3);
@red: rgb(217, 83, 79);
@blue: rgb(51, 122, 183);
@dwhite: rgb(230, 230, 230);
@clear_white: #fff;
@white: rgb(255, 255, 255);